{% extends 'base.html' %}

{% block content %}

{% for post in posts %}
<div class="card mb-3" style="max-width: 540px;"  data-bs-theme="dark">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="{% url 'post_details' pk=post.pk %}">
        <img src="{{post.image.url}}" class="img-fluid rounded-start" alt="...">
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.content}}</p>
          <p class="card-text"><small class="text-body-secondary">В последний раз был обновлён {{post.updated}}</small></p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}
